$colorSurface1: #cad49d;
$colorSurface2: #484538;
$colorBlack: #c0d8e0;
$colorWhite: #f1f2f9;
$colorIcons: #56a3a6;
$colorSecondary: #d4eac8;
$colorElements: #3b3e4a;
$colorGreen: #27ae60;
$colorRed: #eb5757;
$colorAccent: #905bff;
