@use './../../styles/variables' as v;
@use '../../styles/mixins' as mix;

.register {
  margin-top: 40px;
  padding: 20px;
  border-radius: 10px;
  background-color: v.$colorSecondary;

  &__title {
    color: v.$colorSurface2;
  }
}
